[2017-03-01 21:10] nodunayo opened #1 "Cannot edit a proposal"
At the moment, there is no ability to edit proposals on the front-end of the site.

[2017-03-01 21:11] nodunayo opened #2 "Homepage does not communicate what Speakerline is"
When somebody lands on the homepage of speakerline.io, it's not clear why the site exists and how they can use it!

I welcome any ideas for what should be done here.

[2017-03-01 21:13] nodunayo opened #3 "`Title` field on New Proposal Page does not support Markdown"
Justin's proposal title isn't rendering as he expected it to: http://speakerline.io/proposals/9.

Perhaps the `title` field should support Markdown too?

[2017-03-01 21:14] nodunayo opened #4 "No ability to add events"
At the moment you can only add proposal submissions to events that are already in the database.

We need a way to find or add new conference events to the site when adding submissions to a proposal

[2017-03-01 21:16] nodunayo opened #5 "Add a contributing guide"
This project is (currently) a very basic Rails app, perfect for newer developers to get stuck into open source with.

24 Pull Requests has a very helpful contributing guide and it'd be great if this project had something similar: https://github.com/24pullrequests/24pullrequests/blob/master/CONTRIBUTING.md.

[2017-03-02 22:03] nodunayo opened #6 "Upgrade Ruby to 2.4.0"
The app currently uses version 2.3.3, but the latest stable version is 2.4.0: https://www.ruby-lang.org/en/downloads/

[2017-03-02 23:02] nodunayo opened #7 "Context needed on submission decisions."
Proposals get accepted and rejected for many reasons. For a site like Speakerline, being able to add context to rejections is particularly important: is it that there were clear flaws in the structure of the submission or was the proposal excellent but it didn't suit the conference? Did the speaker already get a talk accepted at the same conference?

What ideas do you have for how we can add more

[2017-03-04 13:09] #4 closed

[2017-03-05 14:53] alicetragedy commented on #5
I'd love to help out with this (I originally helped with the 24 Pull Requests guide) 🙈
I could come up with a basic list of what might be helpful to know as a future contributor, and then draft a first contributing guide?

[2017-03-05 15:01] nodunayo commented on #2
This is good enough for now!

https://github.com/nodunayo/speakerline/pull/13

Thanks, @andrew.

[2017-03-05 15:01] #2 closed

[2017-03-05 15:02] nodunayo commented on #5
@alicetragedy Yes, you did! I remember our thread on it December past.

That would be amazing! Thanks a lot. :-)

[2017-03-05 18:42] #6 closed

[2017-03-05 19:01] nodunayo opened #15 "Make selecting a conference when adding a submission more user friendly"
At the moment, this is the experience people have:

![screen shot 2017-03-05 at 18 50 13](https://cloud.githubusercontent.com/assets/4911302/23590348/f1abba1a-01d5-11e7-83ae-1c57b5d893da.png)

This makes it difficult to use and it's hard to work out whether the conference you are looking for has already been added or not.

Perhaps there's a way to type in a conference, select a year and then find

[2017-03-05 19:09] nodunayo opened #16 "Site design is not optimised for mobile"
At the moment, the site renders like so on mobile phones (well, at least on my mobile phone):

![image1](https://cloud.githubusercontent.com/assets/4911302/23590399/14a3955a-01d7-11e7-88f1-2292134642e0.PNG)

We need something that is optimised for a mobile screen.

I've used [Skeleton CSS](http://getskeleton.com/) for the basic design. It might be a case of using features built into that or adding

[2017-03-05 20:14] jemagee commented on #3
It could support markdown if you wanted, I have set up markdown (using kramdown) in my own blog, but I also have some experience setting up tinymce (wysiwyg) a little - the only issue is you have to turn off turbolinks which most people seem to suggest.

In my personal opinion though, I would standardize the title of proposals and such and only allow markdown within the body.

[2017-03-05 20:37] jemagee opened #17 "Year as an Integer?"
Is there a specific reason that year isn't an integer?  It can still be easily manipulated for display the way it's done, but keeping it as an integer also allows for more flexible searching in the future (i.e. i want to see all conferences in the last 2 years for instance)

[2017-03-05 20:37] nodunayo commented on #3
Well, I've currently got `redcarpet` set up to parse the body of the proposal, so adding it to the `title` field shouldn't be tricky.

However, like you suggest, I'm not sure it's something we should enable. People wanting formatting in their title is rare, I suspect.

I'm going to close this and we'll see if it's something people end up wanting.

[2017-03-05 20:37] #3 closed

[2017-03-05 20:38] nodunayo commented on #17
Yes, this is something that definitely needs fixing, particularly to enable ordering/searching in the future.

[2017-03-05 20:39] jemagee commented on #17
WEll, the reason I ask is that I think it's something I can handle right away :) I'm good with rspec, and capybara, but haven't done any BDD with cucumber so need to pick it up a bit.

[2017-03-05 20:40] nodunayo commented on #17
Well, please go ahead! :-)

I used Cucumber as it's something that I'm familiar with and BDD helps my development workflow. I wonder if it'll be a barrier to more contributors...

[2017-03-05 20:42] jemagee commented on #17
I don't think it should be, at least for me, it just makes me more motivated to pick up a new skill...my own project i've been holding off on launching because most who expressed interested are in JS but I tried ember last weekend to see how it felt and it just felt overly complicated when compared to rails

[2017-03-05 20:43] nodunayo commented on #17
Yay!

[2017-03-07 03:06] jemagee commented on #17
I reset my copy to the master here and deleted the branch I made (which deleted the pull request)..I think I have a way to do this, but not sure how to test it

[2017-03-09 14:47] jemagee commented on #1
Is this as simple as creating an edit function on proposals, or do you with to add an authentication system (perhaps devise?) that limits who can edit a proposal to who submitted it?

[2017-03-12 00:09] nodunayo commented on #1
It involves exposing the `edit` Controller action and the route too. Don't want to add in any authentication for the time being. I'm thinking about this more as an open wiki for now.

[2017-03-12 00:13] jemagee commented on #1
I think I can do that (hopefully) though the testing would most likely be RSpec TDD instead of BDD if I did it (i'm rewwriting my migration right now though - I think i have it now - my original commit the rollback actually had an error in it that I didn't catch)

[2017-03-16 16:19] deniseyu commented on #15
@nodunayo I've used this library before: https://harvesthq.github.io/chosen/

When you click in the dropdown menu, a textbox appears, and it will do an exact-string match against all the dropdown options. It's pretty great for filtering huge collections.

The drawback is it doesn't work on mobile browsers at all, the last time I tried.

[2017-03-16 16:22] jemagee commented on #15
Hey - there’s a gem that does what I was going to try and write from scratch (in my mind i can see how it works with ajax and onKeyUp but just never done it, and testing JS is such a pain these days :)

[2017-03-16 22:54] nodunayo commented on #15
Ooh, thanks for this @deniseyu!

Do you know what happens on mobile? Will it just be as if there was no library installed?

Thanks!

[2017-03-20 10:56] deniseyu commented on #15
@nodunayo correct, I think the JS will become turned off on mobile and it will default to however the mobile browser handles dropdowns.

[2017-03-22 13:10] #17 closed

[2017-03-23 18:44] andrew opened #22 "Can't submit a proposal that's not been accepted/rejected yet"
Not sure if this is by design, but a "submission" requires choosing one of approved/rejected, but I only put the proposal in today so it's neither.

Is it better to:

- Not add until it's been approved/rejected by the conf
- Add a third "submitted" or "pending" option
- something else I didn't think of

[2017-03-24 14:01] nodunayo commented on #22
The original design of this was intentional, but I was expecting it to be brought up for discussion.

I think the most value comes from being able to see the outcome of submissions, rather than a list of places that the proposal has been submitted to.

I have a concern that if you allow a pending option then people will input their proposal and add a list of submissions, but then won't come back t

[2017-03-24 14:48] jemagee commented on #22
I was thinking there could be someway to automate it?  I don’t submit talks nor have time to go to these things but do they have ‘fixed dates’ when they announce their slate of talks?  If so you could have an automated notification to someone (the poster them selves? ) on that date that any pending talks for the given talk need to be updated. (Plus, I’m sure there are lists provide either through

[2017-03-26 19:07] #1 closed

[2017-03-27 08:14] andrew commented on #15
Slightly improved by https://github.com/nodunayo/speakerline/pull/23

![screen shot 2017-03-27 at 9 13 36 am](https://cloud.githubusercontent.com/assets/1060/24346765/bb798ca2-12cd-11e7-9f94-5b79bfcf71b3.png)

[2017-03-27 16:33] #16 closed

[2017-04-12 02:11] jemagee commented on #15
Would you be opposed to including [redis](http://oldblog.antirez.com/post/autocomplete-with-redis.html) in the project?

[2017-04-13 08:22] alicetragedy commented on #5
Sorry for dropping the ball on this one; I am still interested in working on it, but looking at the way things are going for me right now, I probably won't get to it until mid-May. If anyone else is interested in working on it in the meanwhile, feel free to do so — don't want to sit on this issue :) Otherwise I'll check back in a month or so!

[2017-04-19 11:29] nodunayo commented on #15
Hmm, I'd have to do a bit more research on that. My instinct says avoid it unless you have to.

Sorry for the slow response! I've been away.

[2017-04-19 14:38] nodunayo commented on #5
Hi Laura!

No worries. Sorry for the slow response on my end; I've been alone.

Yes, there's not rush on this at all. Hopefully in a month or so we've moved on a bit and there'll be more issues for people to get stuck into!

[2017-04-25 19:42] nodunayo commented on #22
Hi John,

Sorry it's taken me so long to reply to this.

Generally, I love the idea of having some automatic way of working out when a decision should have been made on a talk or not. At the very latest, decisions about an event will have been made by the day of the event!

Then there can be some form of notification, either to the poster (you'd then need poster information) or on the website abou

[2017-11-27 17:44] nodunayo opened #32 "Speakers with no proposals should not show up on the homepage"
It's not helpful to have people visiting the site clicking on a speaker's name and getting a blank page.

Let's hide speakers in the DB who don't have any proposals attached to them.

[2017-11-27 17:47] nodunayo opened #33 "Speaker index page is not one long list"
At the moment, when you visit the '/speakers' you get one long list, like so:

![screen shot 2017-11-27 at 17 44 55](https://user-images.githubusercontent.com/4911302/33280660-b77465da-d39a-11e7-9835-c1ccbe9480af.png)

It would be great to find a way to better display the information. Perhaps columns?

Even better would be a solution that adapts to an ever-growing speaker list (🤞) rather than one

[2017-11-27 17:53] nodunayo opened #34 "When failing to save a submission, return to the submissions form"
At the moment, if you attempt to submit an invalid submissions form at '/submissions/new?proposal=x', you're presented with this:

![screen shot 2017-11-27 at 17 50 01](https://user-images.githubusercontent.com/4911302/33281013-b9d52c32-d39b-11e7-8290-5f11d4264b13.png)

I.e. you are returned to the Speakers page, rather than the submissions form page.

It would be great if a user is returned to th

[2017-11-27 17:55] nodunayo opened #35 "Upon failing to save a proposal, keep the submitter's progress!"
If you attempt to submit an invalid form at '/proposals/new' the form re-renders but it is blank!

It would be a much better user experience if the submitter's progress was saved so they correct their error rather than have to start again.

[2017-11-27 18:05] nodunayo opened #36 "An `Event` has many `years`?"
At the moment, an Event has a `name` attribute and a `year` attribute, e.g. Event.new(name: RubyConf, year: 2017).

I wonder if we should change this to be an event has a `name` and then many years (or occurrences) attached to it, e.g. RubyConf is an Event, it happened in 2017, 2016, 2015, etc..

This will make it more interesting to view the kinds of submissions that, for example, RubyConf has ac

[2017-11-27 18:16] nodunayo opened #37 "Feature-coupled step definitions"
@tomstuart pointed out [here](https://github.com/nodunayo/speakerline/pull/8/commits/d54fbd70b3f9aef8b485eaae03555e353a92748c) that the project was suffering from "feature-coupled step definitions".

Let's refactor the step definitions so that we're not susceptible to this pain!

[2017-11-27 21:17] nodunayo commented on #5
Resolved in https://github.com/nodunayo/speakerline/commit/e52782cb9e758588f3507cd183e73da219e2bc04!  🎉

Wanted to get one in before @24pullrequests kicks in.

[2017-11-27 21:17] #5 closed

[2017-11-27 22:05] nodunayo opened #38 "Add Table of Contents to README"
The README is long and it isn't clear what you can find in the document. It would be nice to have a table of contents in a simlar way to @24pullrequests:

![screen shot 2017-11-27 at 22 03 35](https://user-images.githubusercontent.com/4911302/33291807-002d6c80-d3bf-11e7-976c-493ded6aa2dc.png)

[2017-12-02 11:27] nodunayo opened #41 "Update nokogiri"
The version of libxml2 packaged with Nokogiri versions prior to 1.8.1. We should update to the latest version of nokogiri.

[2017-12-02 17:04] nodunayo commented on #38
Being looked at in https://github.com/nodunayo/speakerline/pull/42.

[2017-12-02 22:22] nodunayo opened #43 "Title box is too short"
When adding a proposal, the title is hardly ever, if ever, completely visible:

<img width="1064" alt="screen shot 2017-12-02 at 22 17 51" src="https://user-images.githubusercontent.com/4911302/33520248-d0f875e2-d7ae-11e7-8160-b08b7a655e38.png">

We should make it such that when filling out the form at /proposals/new, the submitter can see the whole title. This will help prevent typos too!

[2017-12-03 08:27] nodunayo opened #44 "Fix `factory_girl` deprecation warnings"
When running the test suite, we get:

Let's update to `factory_bot`!

[2017-12-03 11:42] flyinggrizzly commented on #34
@nodunayo I should be able to pick this up. That alright?

[2017-12-03 12:30] nodunayo commented on #34
@flyinggrizzly Yes, please go ahead! :-)

[2017-12-03 13:08] olwend commented on #43
Hi, Im looking into this.  Thanks Olwen

[2017-12-03 13:23] freddyfallon commented on #44
PR for this: https://github.com/nodunayo/speakerline/pull/47

[2017-12-03 13:39] flyinggrizzly opened #48 "SubmissionsController should provide helpful redirects when invalid URLs are accessed"
Probably low priority, but if anyone tries to access the submissions actions directly by navigating by URL to `/submissions` or `/submissions/new`, Rails errors are displayed.

It would be nice if instead they redirect the user somewhere and displayed a helpful flash message. Maybe the Speakers index?

<img width="839" alt="screen shot 2017-12-03 at 13 37 39" src="https://user-images.githubusercon

[2017-12-03 14:02] flyinggrizzly commented on #32
@nodunayo I'll hop on this one too if that's cool?

[2017-12-03 16:22] flyinggrizzly commented on #32
@nodunayo thinking about this, should this change also include a link to a view where all users are visible?

I can defo see a scenario where a new user is added and then lost so they can’t add proposals because they don’t know their record id.

Basically, should we add an `index_all` action that shows all users and include a link to it on the index view?

[2017-12-03 18:00] #38 closed

[2017-12-03 18:02] nodunayo commented on #43
No issues at all!

Don't worry about tests for this, I'd say!

[2017-12-03 18:07] #44 closed

[2017-12-03 18:08] nodunayo commented on #48
Good idea, @flyinggrizzly! :-)

[2017-12-03 18:38] nodunayo commented on #32
@flyinggrizzly — let's leave out the link for all speakers for now. I don't think there's much value at the moment in seeing a list of speakers (as opposed to users) who don't have any proposals attached to them.

When you add a proposal, you select by name (on the form), as opposed to ID. If you try and add a speaker with the same name as one already in the DB, you'll get an error. If we start ge

[2017-12-03 18:42] nodunayo commented on #41
Fixed in https://github.com/nodunayo/speakerline/pull/45

[2017-12-03 18:43] #41 closed

[2017-12-03 18:46] flyinggrizzly commented on #32
That makes sense. I've got it working without, but it's breaking the feature test for adding users (which currently tests that added users appear in the index view, which no longer happens unless you also create a proposal at the same time... which is mixing the testing).

Will submit a PR once I figure that out!

[2017-12-03 18:47] nodunayo commented on #32
@flyinggrizzly Cool.

Yes, I reckon the tests will need to take a different direction then!

[2017-12-03 19:08] nodunayo opened #51 "Update Rails version"
There's a new patch version of Rails. Let's update!

![screen shot 2017-12-03 at 19 06 29](https://user-images.githubusercontent.com/4911302/33528743-65067708-d85d-11e7-868d-132618d4b55b.png)

[2017-12-03 19:10] nodunayo opened #52 "Write a short description on the `dependencies` label in the Contributing Guide"
I've added a new Issues label — dependencies — but our CONTRIBUTING.md has no reference to it.

Let's add a short description explaining that Issues with this label will be all-things gems!

[2017-12-03 20:20] olwend commented on #43
Yes I thought test was overkill too  as it is  string - varchar so submitting PR 👍

[2017-12-03 22:12] olwend commented on #51
#55  submitted

[2017-12-04 08:42] #34 closed

[2017-12-04 09:03] #51 closed

[2017-12-04 17:34] nodunayo commented on #32
Still being worked on as there was a bug in PR#53

[2017-12-04 17:51] nodunayo commented on #43
Thank you, Olwen!

[2017-12-04 17:51] #43 closed

[2017-12-05 05:28] Greg-Rose commented on #35
I'll take this one

[2017-12-05 08:00] nodunayo commented on #35
Thanks, @Greg-Rose — will check this out later today.

[2017-12-05 18:51] nodunayo commented on #35
Yay, shipped!

Thanks, @Greg-Rose. :-)

[2017-12-05 18:51] #35 closed

[2017-12-06 09:55] olwend commented on #33
I've started looking at this - initially grouping to display Letter - items.
Next steps to click/expand letter to display sub items
Finally be able to scroll through a smaller display box

[2017-12-06 11:45] nodunayo commented on #33
Hey Olwen,

Yay, glad you're picking this up.

Could you maybe draw a little sketch of what the page would look like when you first went onto it?

Just trying to visualise what you wrote above and want to make sure we're doing the simplest thing that's also easily maintainable.

Thanks,

Nadia

[2017-12-06 13:22] olwend commented on #33
Hey Nadia,  I'm working with @JulieLev on this one.  **Very** early days but wondering if this structure would work (but as simplest thing)

So Alphabet would display, then viewer would click to find speaker.  However that isn't great for browsing........ so perhaps not a good approach?  You could have a 'Browse All' option?

![alphabet_expand_list](https://user-images.githubusercontent.com/932163

[2017-12-06 13:47] JulieLev commented on #33
![image](https://user-images.githubusercontent.com/19407259/33664448-9bbd5de0-da8b-11e7-8479-3420bb15a8e1.png)
Simple to start? Could look at splitting into columns afterwards if necessary? This isn't meant to be a design template, just a layout explanation!

[2017-12-06 16:28] nodunayo commented on #52
Fixed in https://github.com/nodunayo/speakerline/pull/58.

[2017-12-06 16:28] #52 closed

[2017-12-06 22:06] nodunayo commented on #33
Hey @JulieLev and @olwend!

Since we only have 30 speakers right now, I'm thinking something like columns on the speakers page will be the simplest thing to start.

Is there a way to automatically get it to split the list into 3 or 4 columns say, even as speakers are added?

I definitely like the alphabet idea and will consider it if/when (🤞) the speaker list grows, but given that most letters wil

[2017-12-07 00:05] JulieLev commented on #33
Hi @nodunayo,

I'm actually really glad you pointed that out. Much more straightforward and shouldn't be difficult. Perhaps we just imagined your app growing so quickly!

We didn't manage to get together this evening anyway but will give it a shot and put in a PR when ready,

Thank you!

[2017-12-07 06:45] nodunayo commented on #33
Hi @JulieLev,

I'm glad to hear it! And yes — hopefully it does grow and then we can revisit this idea.

Looking forward to the PR. No rush!

Speak soon,

Nadia

[2017-12-07 15:43] JulieLev commented on #33
Just to let you know, @olwend and I did communicate on this - no snatching of issues here!

[2017-12-09 14:04] nodunayo commented on #32
Thanks @flyinggrizzly for your great work!

[2017-12-09 14:04] #32 closed

[2017-12-09 14:35] flyinggrizzly commented on #36
I think that would make a lot of sense; it's kind of how I think of conferences--the con is abstract, and the event is once per unit of time. I'm guessing I'm not the only one.

I'd be tempted to rename the existing Event model to `Cohort` or `EventYear` (not sure just `Year` is as clear as it could be), and make it belong to a new `Event` record. That way existing proposals still refer to the sam

[2017-12-09 14:48] flyinggrizzly commented on #36
Enh. `Event` as a name for a new resource is a bad idea. `EventSeries` makes assumptions that it will repeat though. I'm not coming up with anything better atm.

[2017-12-10 22:45] nodunayo commented on #36
Hey @flyinggrizzly — thanks for your thoughts.

Will have a proper read-through at some point in the upcoming week! :-)

[2017-12-11 01:30] JulieLev opened #63 "Add a seeds.rb file to populate a working development database"
Nadia, as mentioned elsewhere, hope to submit a PR for this tomorrow...

[2017-12-14 21:42] #63 closed

[2017-12-14 21:43] nodunayo commented on #36
FYI, @flyinggrizzly — going through a busy time right now so this will take me a bit longer to look at.

[2017-12-14 22:12] flyinggrizzly commented on #36
@nodunayo no worries--I'm [tinkering with it](https://github.com/flyinggrizzly/speakerline/tree/events-have-multiple-years) already to see how my idea plays out. If you get curious, take a look!

About to disappear to the US for Christmas though, so no promises as to how much I'll be doing over the next few weeks. Happy to pick it up again in the new year if the help is still wanted/needed!

[2017-12-14 22:16] nodunayo commented on #36
Ooh, I'll definitely take a look some time soon.

Let's pick up this conversation in the New Year (at the latest) for sure. I'm about to move flat and lots of change is happening at work at the moment. Then it's family time/holidays, etc.

I'd love to keep working with you in the New Year. It's been a pleasure!

Happy holidays if we don't speak before then.

[2017-12-22 17:46] nodunayo commented on #33
Yay, shipped! 🎉

It looks great.

Thank you, @JulieLev!

[2017-12-22 17:46] #33 closed

[2017-12-31 05:48] flyinggrizzly commented on #36
@nodunayo this is more than I expected (which in retrospect, was maybe a little obvious...), but I'm still working on it 😅

Trying to figure out how to wire the two models together so you can select or name new Event Series from the Cohort screen r/n

[2017-12-31 18:31] nodunayo commented on #36
Hey! Hope you've had good holidays.

Looking forward to reading all of this and digging into your work soon. 😁

[2018-01-01 10:54] flyinggrizzly opened #65 "App inaccessible because of SSL issue"
This is probably due to the year change over, but https://speakerline.io isn't available right now.

<img width="1025" alt="screen shot 2018-01-01 at 10 52 36" src="https://user-images.githubusercontent.com/10967676/34467192-0c9c7be4-eee2-11e7-951b-9a6d6ac50580.png">

I'm not getting any more useful error messages on this...

paging @nodunayo -- figure app down is kind of a biggie!

Same issue on

[2018-01-01 10:55] flyinggrizzly commented on #65
Same issue on OS X in Chrome, Firefox, Opera and Safari

[2018-01-01 11:07] nodunayo commented on #65
Hmmm!! Strange. Will look into it. Thank you!!

Nadia Odunayo

[2018-01-01 11:20] nodunayo commented on #65
Hey, @flyinggrizzly.

It's because you're attempting to access Speakerline via https, but I don't have SSL set up yet. Only http for now!

(It's high up on my list to sort it out.)

[2018-01-01 11:20] #65 closed

[2018-01-01 11:32] flyinggrizzly commented on #65
Oh dear... now I feel silly

[2018-01-01 11:43] nodunayo commented on #65
Oh no, please don't! I feel silly for not having sorted SSL yet! 😁

[2018-01-05 06:45] flyinggrizzly commented on #36
Happy new year!

I've got this working, at least for events themselves (haven't gone through and fixed everything that will likely have broken in tests or in some of the related/dependent models). This is probably a good time to look at it and decide if this is the right approach?

If you wanted to kick the tires a bit, best thing to do would be to try add new events, and also take a look at the s

[2018-01-05 16:17] nodunayo commented on #36
Happy New Year, @flyinggrizzly! Looking forward to digging in! I appreciate all of your work! ☺️

[2018-01-07 21:44] nodunayo commented on #36
Still been on holiday but back on things tomorrow. Aiming to find time to look at this this week!

[2018-01-11 09:09] nodunayo commented on #36
Hey @flyinggrizzly,

I just had a look at this and definitely like the approach! I like the way you've approached the "Add an Event" form — clever! (I'm sure there'll be UI/UX improvements for the best flow, but we can worry about that later). I also think the grouping in the Submissions for Event dropdown makes sense (though I'd want to order them in year order — I'm sure you had that idea too).

[2018-01-11 10:26] flyinggrizzly commented on #36
Hi @nodunayo,

Thanks for looking it over!

I like `EventOccurrence` or `EventInstance` because they seem most accurate in terms of relation to reality. `EventYear` feels too restrictive because I think some events might want to add more occurrences than annually... Occurrence feels more accurate, but I agree on the spelling thing. I'm happy to go with either.

Couple of questions before I forge a

[2018-01-11 21:19] nodunayo commented on #36
Hi!

In answer to your points/questions, I'd say:

* `EventInstance`? We can always change it, right? But it's more for behind-the-scenes...and I think `Instance` wins because of the spelling thing...
*  I mean keep it grouped by event.name, but then order by 'year' ascending...so, at the moment, it appears to be ordered by `created_at`?
<img width="367" alt="screen shot 2018-01-11 at 21 17 54" sr

[2018-01-30 15:44] flyinggrizzly commented on #36
Hey @nodunayo just a quick ping so you know I'm still here and working on this--time hasn't been as plentiful lately, but I am still committed!

[2018-01-30 21:19] nodunayo commented on #36
Thanks for the update! No rush at all!

I'm glad you haven't finished it yet as time has been short on my side too!

Thanks so much for all of your work!

:-)

[2018-02-02 20:21] flyinggrizzly opened #67 "Enum for Accepted, Rejected, Waitlisted should order like Acc, Wait, Rej"
Seeing Accepted proposals at the top of a list of submissions for an event makes sense, but having Waitlisted props follow Rejected props is less clear.

Proposals should list

- Accepted
- Waitlisted
- Rejected

instead of as they do:
<img width="607" alt="screen shot 2018-02-02 at 20 22 27" src="https://user-images.githubusercontent.com/10967676/35753260-dedd6c34-0856-11e8-9a55-363c4e948054.png"

[2018-02-02 20:36] flyinggrizzly opened #68 "It should be possible to edit a submission's status after creation"
If a submission is waitlisted, it is likely it will later be accepted or rejected.

Currently, it is difficult, if not impossible, to edit existing submissions on the app.

It would useful to have this ability!

[2018-02-04 19:57] nodunayo commented on #22
Dealt with in: https://github.com/nodunayo/speakerline/pull/56

[2018-02-04 19:57] #22 closed

[2018-02-05 13:14] nodunayo commented on #67
Fair enough! 🙂

[2018-02-05 13:27] nodunayo commented on #68
Haha, I kept on going back and forth on this. Part of why I didn't think editing (separate to deleting) was important is because I didn't have the 'waitlist' option previously, but we now do have that...

Now, editing a submission starts to make more sense, especially as one of my fears of a 'pending' option was that they stay in a 'pending' state. See here: https://github.com/nodunayo/speakerline

[2018-02-05 15:18] flyinggrizzly commented on #68
Yea, reading 22 and thinking about it from the perspective of avoiding a pile up of abandoned entries, that definitely makese sense. So, I'd agree--no pending option, but the presence of a "Waitlisted" category strongly implies to users that they'll be able to update that result in the future.

And even if a "Waitlisted" entry gets 'abandoned', it still gives a better idea than having "Pending" su

[2018-02-06 11:44] andrew commented on #22
🎉

[2018-02-08 08:33] nodunayo commented on #68
We're all for small, incremental change, but also open to overhauling things/re-designs where it makes sense.

Explanatory text is a good idea! Will add a separate issue for that.

[2018-02-08 08:37] nodunayo opened #69 "Explanatory test for the submissions form"
References:

* https://github.com/nodunayo/speakerline/issues/22

* Comments from @flyinggrizzly on https://github.com/nodunayo/speakerline/issues/68:

Therefore, we should have some explanatory text as to what the 'Waitlisted' (and potentially 'Accepted' and 'Rejected') option means on the Submissions form.

[2018-02-08 08:51] flyinggrizzly commented on #69
This should be “Explanatory teXt...” yea? Normally wouldn’t mention it except tests probably means something different to people scanning the issue list

[2018-02-08 08:53] nodunayo commented on #69
Ahh, how did I not spot that??

And why wouldn't you mention it, even if it wasn't such a confusing typo given the domain?? Always mention it!!

Thanks.

[2018-02-08 08:53] nodunayo commented on #69
(I'm that person that's always correcting spelling/grammar/punctuation...)

[2018-02-08 09:17] flyinggrizzly commented on #69
(Me too, to the extent that I've become that guy who's always badgering people about these things... so I make myself let it go unless it's going to cause a misunderstanding. Or it's in code comments, because that's like writing notes in the margins of a first folio and misspelling them. But I'll be a little more lax around here now!)

[2018-02-08 09:19] nodunayo commented on #69
I'm going through exactly the same process. Trying to let go, especially if there's no misunderstanding. Definitely "test" in this case is dangerous — and headlines of things should be perfect anyway. :P

Haha — love the code comments thing!

[2018-02-24 16:59] nodunayo opened #71 "Organise event list alphabetically"
On the 'Add an event' page (http://speakerline.io/event_instances/new), the list of events in the dropdown is in the order of creation. For ease of use, they should be listed alphabetically.

<img width="716" alt="screen shot 2018-02-24 at 16 57 45" src="https://user-images.githubusercontent.com/4911302/36632876-fd773dbc-1983-11e8-9d95-ff813da8ce52.png">

[2018-03-24 11:31] flyinggrizzly commented on #36
Should we close this issue?

[2018-03-24 12:36] nodunayo commented on #36
Yes!! 😊

[2018-03-24 12:36] #36 closed

[2018-03-25 11:34] flyinggrizzly commented on #37
@nodunayo is it alright if I pick this up?

[2018-03-25 11:37] flyinggrizzly commented on #15
This is again slightly different after https://github.com/nodunayo/speakerline/pull/66

Event years are now grouped in optgroups

[code]

[2018-03-25 18:47] nodunayo commented on #37
@flyinggrizzly I'm mid organising a pairing session with @tomstuart to complete this! I'll hang onto it for a few more weeks.

If we don't manage to do it by April, then I'll ping you to pick it up.

Thanks. :-)

[2018-04-01 21:03] nodunayo commented on #68
This has now been done and shipped!

Things that I'm working on:
* Working with a designer friend to improve the design of the 'edit' link
* A process for deleting speakers, proposals, and submissions:
  * I'm leaning towards a manual process that involves sending an email or opening a GitHub issue for now, whilst I figure out something better for the long-term.

Things I'm currently worried about

[2018-04-01 21:03] #68 closed

[2018-04-01 21:20] flyinggrizzly commented on #68
If there's anything I can pick up, let me know what would be helpful!

I've been thinking about the problem of vetting changes as they come in, and it's definitely tricky. For requesting removals and things like that, at least as a short term we could set up a Google form that either just recorded in a spreadsheet, or even sent an email to someone. It's potentially a little more user friendly than

[2018-04-01 21:27] nodunayo commented on #68
Thanks for these thoughts!

Will start threads on the deletion stuff and also on helping maintain the integrity of our data soon.

Yes — I imagine we'll get to tagging eventually too, but staying away from that for now. Maybe, the earlier the better, whilst we have limited data, actually..? 🤔

Don't want to start a Slack channel or anything outside of GitHub just yet. Too much overhead for the cur

[2018-08-12 09:27] #37 closed

[2018-08-20 08:26] rubydesign commented on #15
if you filtered out past ones and sort them in time order the list would be quite use-able until you have many more conferences in the db

[2018-08-21 08:05] nodunayo commented on #15
@rubydesign — how would it work if you wanted to add a proposal to past events? In fact, the vast majority of the time, people are adding proposals in for past events, not upcoming ones.

[2018-08-21 08:47] rubydesign commented on #15
@nodunayo Sorry, then i misunderstood the app. I thought people add proposals for talks they want to give in the future. Sorry

[2018-08-21 08:50] nodunayo commented on #15
@rubydesign No worries at all. Thanks for trying to help! :-)

[2018-10-13 15:50] #71 closed

[2018-11-30 13:03] nodunayo opened #120 "View an alphabetised list of proposals by title"
At the moment, there's no way to see all of the proposals by title. It would be great to have a long list somewhere — maybe under the strapline on the home page — as not everyone can relate to a list of speakers.

[2018-11-30 13:06] nodunayo opened #121 "See an alphabetised list of events"
Some people want to find a specific event and see what's been submitted there. Therefore, we need a view that lists all events.

Perhaps we can have 'Events' in the nav bar, which shows the alphabetised list of events, and somewhere on that page is the option to add a new event.

[2018-11-30 13:11] nodunayo opened #122 "You can add and edit tags up to three tags on a proposal"
We need a better way for users to find proposals that interest them. Therefore, I propose adding the ability to add tags to a proposal upon creating it as well as the ability to edit them.

I also want to limit tags to 3 so that tags are more useful for organisation and finding purposes. It's also a useful tool for speakers struggling to choose three tags to wonder whether their proposal covers to

[2018-11-30 13:15] nodunayo opened #123 "Add ability to search proposals by title and body"
Sometimes looking at a list of speaker's names, proposal titles, or events isn't quite what you need. Sometimes, you want to search for a keyword or two and see what's out there. For those people, I propose that we add the ability to search proposals by their title and body.

Also, as the database grows (hopefully!) search will be even more useful.

[2018-12-01 12:00] andrew commented on #123
@nodunayo you should add the "help wanted" label ;)

[2018-12-01 12:00] andrew commented on #122
@nodunayo you should add the "help wanted" label ;)

[2018-12-01 12:42] nodunayo opened #124 "Speakerline is completely open to edit"
I'm a big believer in not solving problems before I have a pain point, but I cannot help but feel anxious about how open the Speakerline site is.

As of now, somebody could go onto the website and edit proposals, even subtly, and I wouldn't know. At the moment, traffic is low. However, the site has huge potential but I'm anxious to push it as I'm wary losing integrity of the data on there.

As of

[2018-12-02 11:11] nodunayo commented on #124
@andrew The `passwordless` idea looks interesting. I'll have a think and look into it. Thanks!

[2019-01-21 10:22] #120 closed

[2019-02-25 09:35] nodunayo commented on #121
Completed in https://github.com/nodunayo/speakerline/commit/bf8c75d54f50108271ac0731b3a051654c7960bc#diff-8bb92a6fdaa566f0aaffef90a1afe60c.

[2019-02-25 09:35] #121 closed

[2019-03-12 18:03] nodunayo opened #143 "How can we demonstrate who has helped somebody on a proposal?"
I, for one, always get a lot of help with my proposals, and I've reviewed and helped to improve the proposals of many others too.

@avdi had the following to say in conversation with me:

* So, do you think it's important to surface this information?
* If so, how best to do it?

One suggestion from me is to have a 'reviewed by' option on proposals.

[2019-03-25 10:57] nodunayo opened #147 "Gracefully handle non-existant tags"
You can see all proposals tagged with any given tag at: speakerline.io/tags/<tag>.

If you visit a page for a tag that doesn't yet exist, you will see the following page:

![Screen Shot 2019-03-25 at 10 56 16](https://user-images.githubusercontent.com/4911302/54914334-a2ace900-4eec-11e9-8425-74badd963c78.png)

We need a more graceful way of handling this scenario.

Should the user be directed some

[2019-04-19 09:36] nodunayo opened #154 "Style error messages"
At the moment, if a user does not fill out a form correctly, the error messages look like this:

![Screen Shot 2019-04-19 at 10 34 42](https://user-images.githubusercontent.com/4911302/56418467-e1855300-628e-11e9-8ee5-37fb8f8c5fdc.png)

It would be nice to style them a little to improve the US. Perhaps a border and background colour?

[2019-08-07 08:46] #122 closed

[2019-08-30 19:52] lolaodelola commented on #124
Hey @nodunayo, have you had any more thought on this?

[2019-08-31 07:22] nodunayo commented on #124
Hey @lolaodelola! Yes, I've thought about it a lot, but have still not implemented anything yet.

I was looking into making a way that admins could review and approve any requests for updates that come in before they are propagated to the site.

I considered Andrew's suggestions too, both of which I could see working. Not sure which is best right now and haven't had the time to sit down and focus

[2019-09-04 18:15] lolaodelola commented on #124
@nodunayo who do you foresee being an admin? Would it be a select group of people like yourself who have an overarching view of the site or would a speaker be an admin of their own content & thus anyone who makes a change to content "owned" by someone else would then (dis)approve content?

My thinking is that realistically the only people likely to make changes about content are those that owns it

[2019-09-06 07:30] nodunayo commented on #124
@lolaodelola You're right, in that even though I like that anyone could add info for a speaker, ultimately, the information is likely to originate only from the speakers. Having some form of login prevents automated bots (which the RECAPTCHA kinda does now, really), but also limits the damage of any bad actors — they can only add proposals for themselves!

Well, let me know if you'd like to give i

[2019-09-09 19:49] lolaodelola commented on #124
@nodunayo I've been happy to! Do you have a timeline of when you'd want this done by? I'd like to give it a go but have a few things on my plate at the moment.

[2019-09-11 07:11] nodunayo commented on #124
@lolaodelola There's no rush — if done within the next couple of months, that would be great. I'd like to do it this year! I'm also here to help, answer any questions, do the one-off pairing session, etc. Just let me know. I'll assign it to you for now and check in by end of October if I've not heard anything.

Sound good?

[2020-01-13 10:28] nodunayo commented on #124
@lolaodelola Do you think you will still be able to have a look at this at some piont? I'm not finding that much time for Speakerline right now so am going to tweet out for help soon. Want to know if I should keep you assigned on this one!

Let me know. 😊

[2020-02-16 10:59] nodunayo commented on #124
@tomstuart — this is the issue that I am most concerned about closing right now. It's what's preventing me from pushing Speakerline more.

Is this something you'd be interested in taking a look at?

[2020-02-17 10:22] nodunayo commented on #124
@CrowdHailer is working on a new paswordless product: did.app. We'll be meeting next week to pair and see if we can solve this issue!

[2020-02-17 18:58] tomstuart commented on #124
@nodunayo Hello! Looks like I was too slow on this one. It sounds like it’s all under control now but I’ll keep an eye on the issue in case you still need help with it in future. 😄

[2020-03-11 08:37] CrowdHailer commented on #124
Can we specify on this issue in a bit more detail what routes want protecting.
I assume something like having proposals have user_ids and then having that user_id in the session is the way forward. I also am unsure how to assign the existing proposals to a user id

[2020-03-11 11:15] nodunayo commented on #124
@CrowdHailer Right, yes — when the issue was created I didn't have an idea of how it should be implemented.

I think something like the following makes sense:

* All proposals are attached to a user
* If you are the user of a given proposal, you have the ability to edit it
* Any proposal you create is owned by you
* All proposals in the database can be assigned to 'nodunayo@gmail.com'.
  * I can t

[2020-03-11 19:19] CrowdHailer commented on #124
I have a PR over here. https://github.com/CrowdHailer/speakerline/pull/1/files

I've pointed it to my own docker branch so you can see only the relevant differences.
There are several comments that I could do with help on, more just around how rails works and where it wants it's initialization

[2020-03-26 14:12] CrowdHailer commented on #124
Having thought some more about this I actually think using the full gem is over kill, We require such a small amount of the full OAuth spec to do what is needed here. I wrote a general purpose minimal guide for server integrations via OpenID Connect to DID.app here https://did.app/docs/step-by-step-integration/

I think just making the calls with an HTTP client library might be the easiest thing t

[2020-03-28 19:31] nodunayo commented on #124
Thanks for looking into this some more.

Is this something you'd want to pair on or something you're happy to take a look at?

[2020-03-28 19:37] CrowdHailer commented on #124
Pairing would be helpful, if there is a time that works? I got rather lost in some bits of rails

[2020-04-12 07:35] nodunayo opened #257 "Speakerline has a Wikipedia-style history of edits"
Now a user has to be authenticated before they can edit a proposal or add or edit submissions to a proposal.

This provides the first step to protecting the quality of the data on the site, but it isn't enough. Still anyway, can sign in effortless (passwordless) and make changes.

Ideally, there would be a Wikipedia/Google docs-style history of edits that admins can view. This way, the integrity o

[2020-08-28 12:21] nodunayo opened #289 "Upgrade Ruby to 3.0"
We're on version 2.6.5! We need to stay up to date with stable Ruby versions.

[2021-07-21 18:22] nodunayo commented on #124
We had to revert the changes done to close out this issue since the DID.app service shut down.

[2022-10-21 14:34] #289 closed